@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "grids";
@import "breakpoint";
@mixin box-sizing($value) {
    -moz-box-sizing: $value;
    box-sizing: $value;
}

@import "icones";
@import "variaveis";
@import "plugins";
html {}

body {
    font-family: 'Roboto Slab', serif;
}

.wrap_page {
    position: relative;
    right: 0px;
    -webkit-transition: all .65s ease;
    -moz-transition: all .65s ease;
    -ms-transition: all .65s ease;
    -o-transition: all .65s ease;
    transition: all .65s ease;
    &.ativo {
        right: 80%;
    }
}

.wrap_inicial {
    // overflow-y: hidden;
}

.controls {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

#slider-prev {
    left: 10px;
    background: url('../img/prev.png');
    width: 26px;
    height: 46px;
    top: 0;
    bottom: 0;
    position: absolute;
    font-size: 0;
    z-index: 9;
    margin: auto;
    @include breakpoint($tablet) {
        background: url('../img/prev-mobile.png');
        width: 17px;
        height: 31px;
    }
    a {
        width: 26px;
        height: 46px;
        display: block;
        overflow: hidden;
        @include breakpoint($tablet) {
            width: 17px;
            height: 31px;
        }
    }
}

#slider-next {
    right: 10px;
    background: url('../img/next.png');
    width: 26px;
    height: 46px;
    top: 0;
    bottom: 0;
    position: absolute;
    font-size: 0;
    z-index: 9;
    margin: auto;
    @include breakpoint($tablet) {
        background: url('../img/next-mobile.png');
        width: 17px;
        height: 31px;
    }
    a {
        width: 26px;
        height: 46px;
        display: block;
        overflow: hidden;
        @include breakpoint($tablet) {
            width: 17px;
            height: 31px;
        }
    }
}

.inicial {
    .wrap_slider {
        position: relative;
        &:before {
            content: '';
            background: url('../img/box-gradiente.png');
            background-size: 100% 100%;
            width: 100%;
            height: 158px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
        }
        //    
        .bxslider {
            li {
                &:before {
                    content: '';
                    background-color: rgba(0, 0, 0, .5);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 1;
                }
                .holder_slide {
                    position: relative;
                    top: 35%;
                    margin: auto;
                    display: block;
                    max-width: 80%;
                    z-index: 2;
                    @include breakpoint($tablet) {
                        top: 45%;
                        width: 81%;
                    }
                    .titulo {
                        color: white;
                        font-family: 'Just Another Hand', cursive;
                        font-size: 56px;
                        font-weight: 400;
                        text-align: center;
                        margin: auto;
                        display: block;
                        margin-bottom: 20px;
                        text-transform: uppercase;
                        @include breakpoint($tablet) {
                            font-size: 34px;
                            margin-bottom: 50px;
                        }
                    }
                    .descricao {
                        margin: auto;
                        display: block;
                        max-width: 828px;
                        color: white;
                        font-family: 'Roboto Slab', serif;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 30px;
                        text-align: center;
                        @include breakpoint($tablet) {
                            display: none;
                        }
                    }
                    a {
                        display: block;
                        overflow: hidden;
                        width: auto;
                    }
                    .botao {
                        max-width: 272px;
                        width: 100%;
                        height: 47px;
                        border: none;
                        border-radius: 5px;
                        color: white;
                        font-family: 'Roboto Slab', serif;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 47px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 5px;
                        display: block;
                        margin: auto;
                        text-align: center;
                        margin-top: 40px;
                        position: relative;
                        background: none;
                        cursor: pointer;
                        opacity: 0.7;
                    }
                    .seta {}
                }
            }
        }
        nav {
            @include span(12 of 12);
            z-index: 9;
            position: absolute;
            top: 0;
            left: 0;
            .logo {
                margin-top: 1.25rem;
                float: left;
                @include breakpoint($monitor) {
                    width: 25%;
                    max-width: 130px;
                }
                @include breakpoint($mobile) {
                    width: 63px;
                }
                img {
                    width: 130px;
                    height: 119px;
                    @include breakpoint($monitor) {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .holder_telefone {
                width: auto;
                float: right;
                position: relative;
                overflow: hidden;
                margin-top: 1.9375rem;
                margin-bottom: 0px;
                img {
                    width: 26px;
                    height: 26px;
                    float: left;
                    position: absolute;
                    bottom: 6px;
                    left: 0
                }
                p {
                    margin-left: 33px;
                    color: white;
                    font-size: 14px;
                    font-weight: 400;
                    float: left;
                    text-align: right;
                    margin-bottom: 0px;
                    span {
                        font-size: 20px;
                    }
                }
            }
            ul {
                margin-top: 37px;
                list-style-type: none;
                clear: right;
                float: right;
                li {
                    margin-right: 34px;
                    display: inline-block;
                    text-align: right;
                    @include breakpoint($monitor) {
                        margin-right: 18px;
                    }
                    a {
                        color: white;
                        font-family: 'Just Another Hand', cursive;
                        text-align: left;
                        font-size: 16px;
                        font-weight: 400;
                        letter-spacing: 1px;
                    }
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
        //nav
    }
    .wrap_acomodacoes {
        .layout {
            h2 {
                margin-top: 60px;
                color: #93d2c0;
                font-family: 'Just Another Hand', cursive;
                font-size: 56px;
                font-weight: 400;
                text-align: center;
                margin-bottom: 23px;
                @include breakpoint($tablet) {
                    font-size: 34px;
                    margin-top: 50px;
                }
            }
            hr {
                opacity: 0.33;
                background-color: #999;
                max-width: 380px;
                width: 100%;
                height: 1px;
                margin-bottom: 29px;
                @include breakpoint($tablet) {
                    max-width: 220px;
                }
            }
            p {
                color: #999;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                text-align: center;
                margin-bottom: 3.125rem;
                @include breakpoint($tablet) {
                    font-size: 13px;
                    line-height: 23px;
                    margin-bottom: 45px;
                }
            }
            .acomodacoes {
                .acomodacao {
                    @include span(4 of 8);
                    overflow: hidden;
                    position: relative;
                    @include breakpoint($tablet) {
                        @include span(12 of 12);
                        margin-bottom: 15px;
                    }
                    margin-bottom: 6.25rem;
                    img {}
                    &:nth-child(2n) {
                        margin-right: 0px;
                        @include breakpoint($tablet) {
                            margin-bottom: 50px;
                        }
                    }
                }
            }
            .acomodacoes {
                .acomodacao {
                    &.effect-sadie {
                        img {}
                        .hover {
                            h2 {
                                font-family: 'Roboto Slab';
                                font-size: 30px;
                                text-transform: lowercase;
                                span {}
                            }
                        }
                    }
                    img {}
                    .hover {
                        h2 {
                            span {}
                        }
                    }
                }
            }
        }
    }
    .wrap_cafe {
        background: url('../img/cafe-colonial.png')center top;
        width: 100%;
        height: 400px;
        position: relative;
        text-align: center;
        .seta_top {
            position: absolute;
            background: url('../img/seta-topo.png') center top;
            width: 70px;
            height: 35px;
            margin: auto;
            top: 0;
            right: 0;
            left: 0;
        }
        .layout {
            h2 {
                @include span(12 of 12);
                color: white;
                font-family: 'Just Another Hand', cursive;
                font-size: 56px;
                font-weight: 400;
                margin-bottom: 23px;
                margin-top: 97px;
                text-align: center;
                @include breakpoint($tablet) {
                    font-size: 34px;
                }
            }
            hr {
                max-width: 380px;
                width: 100%;
                height: 1px;
                background-color: white;
                margin-bottom: 29px;
                @include breakpoint($tablet) {
                    max-width: 220px;
                }
            }
            p {
                @include span(12 of 12);
                color: white;
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 18px;
                text-align: center;
                @include breakpoint($tablet) {
                    font-size: 13px;
                    line-height: 23px;
                }
            }
            a {
                display: block;
                overflow: hidden;
                width: 272px;
                margin: auto;
            }
            .botao {
                border: 1px solid white;
                border-radius: 5px;
                width: 272px;
                height: 47px;
                line-height: 47px;
                display: inline-block;
                margin: auto;
                text-align: center;
                color: white;
                font-weight: 700;
                background: none;
                border: none;
                position: relative;
                cursor: pointer;
                opacity: 0.7;
            }
        }
        .seta_bottom {
            background: url('../img/seta-mask.png')center top;
            width: 100%;
            height: 35px;
            position: absolute;
            background-size: auto 100%;
            bottom: 0;
            left: 0;
        }
    }
    .wrap_conheca {
        .layout {
            h2 {
                margin-top: 60px;
                color: #93d2c0;
                font-family: 'Just Another Hand', cursive;
                font-size: 56px;
                font-weight: 400;
                text-align: center;
                margin-bottom: 23px;
                @include breakpoint($tablet) {
                    font-size: 34px;
                    margin-top: 50px;
                }
            }
            hr {
                opacity: 0.33;
                background-color: #999;
                width: 380px;
                height: 1px;
                margin-bottom: 29px;
                @include breakpoint($tablet) {
                    max-width: 220px;
                }
            }
            p {
                color: #999;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                text-align: center;
                margin-bottom: 3.125rem;
                @include breakpoint($tablet) {
                    font-size: 13px;
                    line-height: 23px;
                }
            }
            .acomodacao {
                @include span(3 of 9);
                overflow: hidden;
                position: relative;
                margin-bottom: 6.25rem;
                @include breakpoint($tablet) {
                    @include span(12 of 12);
                    margin-bottom: 15px;
                }
                img {}
                &:nth-child(3n) {
                    margin-right: 0px;
                    @include breakpoint($tablet) {
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}

//POUSADA
.wrap_pousada {
    h2 {
        color: #93d2c0;
        font-size: 45px;
        font-weight: 400;
        font-family: 'Just Another Hand', cursive;
        margin-top: 60px;
        margin-bottom: 28px;
        @include breakpoint($tablet) {
            font-size: 24px;
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }
    hr {
        height: 1px;
        opacity: 0.5;
        background-color: #999;
        margin-bottom: 50px;
        @include breakpoint($tablet) {
            margin-bottom: 30px;
        }
    }
    p {
        color: #999;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 50px;
        @include breakpoint($tablet) {
            font-size: 13px;
            line-height: 23px;
            margin-bottom: 38px;
        }
    }
    .holder_pousada {
        @include with-layout($margin) {
            @include span(12 of 12);
            .pousada {
                @include span(4 of 12);
                @include breakpoint($tablet) {
                    @include span(12 of 12);
                    margin-bottom: 0px;
                }
                margin-bottom: 100px;
                position: relative;
                span {
                    color: white;
                    font-size: 45px;
                    font-weight: 400;
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    text-align: center;
                    text-transform: uppercase;
                    font-family: 'Just Another Hand', cursive;
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .porque {
        @include span(12 of 12);
        background: rgba(147, 211, 191, 0.15);
        @include breakpoint($tablet) {
            margin-top: 50px;
        }
        h2 {
            @include breakpoint($tablet) {
                margin-top: 50px;
            }
        }
        hr {}
        .holder_motivos {
            .motivo {
                @include span(4 of 12);
                @include breakpoint($tablet) {
                    @include span(12 of 12);
                }
                span {
                    @include span(3 of 12);
                    color: #93d2bf;
                    font-size: 54px;
                    font-weight: 400;
                    line-height: 54px;
                    margin-bottom: 30px;
                    @include breakpoint($tablet) {
                        font-size: 45px;
                        line-height: 45px;
                    }
                }
                .info_motivo {
                    @include span(9 last of 12);
                    h3 {
                        color: #93d2bf;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 30px;
                        margin-bottom: 30px;
                        @include breakpoint($tablet) {
                            font-size: 16px;
                            line-height: 26px;
                        }
                    }
                    p {
                        color: #888;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        @include breakpoint($tablet) {
                            font-size: 13px;
                            line-height: 23px;
                        }
                    }
                }
                &:nth-child(3n) {
                    margin-right: 0px;
                }
            } //motivo
        } //holder_motivos 
    }
}

.wrap_acomodacoes {
    margin-bottom: 100px;
    @include breakpoint($tablet) {
        margin-bottom: 50px;
    }
    .layout {
        .wrap_acomodacao {
            @include span(12 of 12);
            h2 {}
            hr {}
            .acomodacao {
                @include span(8 of 8);
                position: relative;
                .wrap_galeria {
                    @include span(4 of 8);
                    @include breakpoint($tablet) {
                        @include span(8 of 8);
                    }
                    .fancybox {
                        @include span(4 of 12);
                        position: relative;
                        overflow: hidden;
                        .hover {
                            h2 {
                                margin-top: 35px;
                            }
                        }
                        &.maior {
                            @include span(8 of 8);
                            margin-bottom: 10px;
                            img {}
                        }
                        img {}
                        &:nth-child(4n) {
                            margin-right: 0px;
                        }
                    }
                }
                .info_acomodacao {
                    @include span(4 last of 8);
                    @include breakpoint($tablet) {
                        @include span(8 of 8);
                    }
                    h3 {
                        color: #93d2bf;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 30px;
                        margin-bottom: 25px;
                        @include breakpoint($tablet) {
                            margin-top: 30px;
                            font-size: 18px;
                            line-height: 28px;
                        }
                    }
                    p {
                        color: #999;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        margin-bottom: 35px;
                        @include breakpoint($tablet) {
                            font-size: 13px;
                            line-height: 23px;
                            margin-bottom: 20px;
                        }
                    }
                    .holder_servicos {
                        @include span(12 of 12);
                        .center {
                            @include breakpoint($tablet) {
                                width: 300px;
                                margin: auto;
                                display: block;
                            }
                        }
                        .tv {
                            background: url('../img/sprite-features.png')0px 0px;
                            width: 52px;
                            height: 52px;
                            float: left;
                            margin-right: 8px;
                            @include breakpoint($tablet) {
                                margin-bottom: 20px;
                                margin-right: 27px;
                            }
                        }
                        .wi-fi {
                            background: url('../img/sprite-features.png')-60px 0px;
                            width: 52px;
                            height: 52px;
                            float: left;
                            margin-right: 8px;
                            @include breakpoint($tablet) {
                                margin-bottom: 20px;
                                margin-right: 27px;
                            }
                        }
                        .frigobar {
                            background: url('../img/sprite-features.png')-120px 0px;
                            width: 52px;
                            height: 52px;
                            float: left;
                            margin-right: 8px;
                            @include breakpoint($tablet) {
                                margin-bottom: 20px;
                                margin-right: 27px;
                            }
                        }
                        .telefone {
                            background: url('../img/sprite-features.png')-180px 0px;
                            width: 52px;
                            height: 52px;
                            float: left;
                            margin-right: 8px;
                            margin-top: 0px;
                            @include breakpoint($tablet) {
                                margin-right: 0px!important;
                                margin-bottom: 20px;
                            }
                        }
                        .diaria {
                            height: 50px;
                            background-color: #93d2bf;
                            border-radius: 5px;
                            float: left;
                            @include breakpoint($kek) {
                                margin-top: 10px;
                            }
                            @include breakpoint($tablet) {
                                width: 100%;
                            }
                            .center {
                                @include breakpoint($tablet) {
                                    margin: auto;
                                    display: block;
                                    width: 300px;
                                }
                            }
                            span {
                                color: white;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 50px;
                                margin-left: 24px;
                                float: left;
                                margin-right: 10px;
                                @include breakpoint($tablet) {}
                            }
                            p {
                                color: white;
                                font-size: 40px;
                                font-weight: 700;
                                line-height: 50px;
                                float: left;
                                margin-bottom: 0px;
                                @include breakpoint($tablet) {}
                                .real {
                                    color: white;
                                    font-size: 20px;
                                    font-weight: 400;
                                    line-height: 50px;
                                    margin-right: 10px;
                                    margin-left: 0px;
                                    float: left;
                                    margin-top: 0px;
                                    @include breakpoint($tablet) {}
                                }
                                .centavos {
                                    color: white;
                                    font-size: 20px;
                                    font-weight: 700;
                                    line-height: 50px;
                                    margin-right: 24px;
                                    margin-left: 0px;
                                    float: right;
                                    margin-top: 5px;
                                    @include breakpoint($tablet) {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.wrap_cafe {
    .layout {
        h2 {}
        hr {}
        p {}
        .holder_cafe {
            @include span(12 of 12);
            margin-bottom: 70px;
            @include breakpoint($tablet) {
                margin-bottom: 30px;
            }
            .cafe {
                @include span(3 of 9);
                position: relative;
                margin-bottom: 30px;
                @include breakpoint($tablet) {
                    @include span(9 of 9);
                    margin-bottom: 20px;
                }
                span {
                    color: white;
                    font-size: 45px;
                    font-weight: 400;
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    text-align: center;
                    font-family: 'Just Another Hand', cursive;
                }
                img {}
                &:nth-child(3n) {
                    margin-right: 0px;
                }
            }
        }
    }
}

.atracoes {
    @include span(12 of 12);
    background: rgba(147, 210, 191, 0.15);
    h2 {
        margin-top: 100px;
    }
    hr {}
    .holder_atracoes {
        @include span(8 of 9);
        margin-left: 40px;
        .atracao {
            @include span(1 of 3);
            margin-bottom: 50px;
            @include breakpoint($tablet) {
                @include span(3 of 3);
            }
            .info_atracao {
                h3 {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    margin-bottom: 30px;
                    color: #93d2bf;
                    @include breakpoint($tablet) {
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
                p {
                    color: #888;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    @include breakpoint($tablet) {
                        font-size: 13px;
                        line-height: 23px;
                    }
                }
            }
            &:nth-child(3n) {
                margin-right: 0px;
            }
        }
    }
}

.galeria {
    margin-bottom: 70px;
    @include breakpoint($tablet) {
        margin-bottom: 50px;
    }
    &.conheca {
        .layout {
            h2 {
                margin-top: 100px;
                @include breakpoint($tablet) {
                    margin-top: 50px;
                }
            }
            .controls {
                top: 30px;
                .next {}
                .prev {}
            }
            hr {}
            .wrap_galeria {
                .owl-carousel {
                    div {
                        .acomodacao {
                            position: relative;
                            float: left;
                            &.effect-sadie {
                                img {}
                                .hover {
                                    h2 {
                                        margin-top: 40px;
                                        @include breakpoint($tablet) {
                                            font-size: 24px;
                                            margin-bottom: 20px;
                                            margin-top: 20px;
                                        }
                                    }
                                }
                            }
                            img {}
                            .hover {
                                h2 {}
                            }
                        }
                    }
                }
            }
        }
    }
    .layout {
        h2 {}
        .controls {
            .next {}
            .prev {}
        }
        hr {}
        .wrap_galeria {
            .owl-carousel {
                div {
                    .acomodacao {
                        &.effect-sadie {
                            img {}
                            .hover {
                                h2 {}
                            }
                        }
                        img {}
                        .hover {
                            h2 {}
                        }
                    }
                }
            }
        }
    }
}

#map_canvas {
    margin-top: 10px;
}

.layout {
    .wrap_onde {
        position: absolute;
        float: left;
        left: 0px;
        bottom: 50px;
        max-width: 380px;
        width: 55%;
        background-color: white;
        padding: 0px 20px;
        @include breakpoint($tablet) {
            bottom: 500px;
            width: 100%;
            max-width: 100%;
        }
        h2 {
            text-align: center;
            margin-top: 25px;
        }
        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #93d3bf;
            padding: 0;
            margin-bottom: 30px;
        }
        p {
            color: #999;
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 28px;
            font-family: 'Roboto Slab', serif;
        }
        .distancia {}
        #side-container {
            margin-top: 0px;
            ul {
                .dir-label {}
                li {
                    input {
                        border: 1px solid #93d3bf;
                        border-radius: 5px;
                        color: #93d3bf;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        height: 45px;
                        line-height: 45px;
                        @include input-placeholder {
                            color: #93d3bf;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                            height: 45px;
                            line-height: 45px;
                        }
                    }
                }
            }
            div {
                input {
                    height: 45px;
                    line-height: 45px;
                    background-color: #93d3bf;
                    border-radius: 5px;
                    border: 1px solid #93d3bf;
                    color: white;
                    font-size: 14px;
                    font-weight: 700;
                    cursor: pointer;
                    text-align: center;
                    margin-bottom: 20px;
                    &:hover {
                        background-color: #FFFFFF;
                        color: #93d3bf;
                    }
                }
            }
        }
    }
}

.layout {
    &.contato {
        .info_contato {
            @include span(3 of 8);
            @include breakpoint($tablet) {
                @include span(8 of 8);
            }
            h2 {
                margin-bottom: 30px;
                height: 45px;
                @include breakpoint($tablet) {
                    height: auto;
                }
            }
            hr {}
            p {
                color: #999;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                margin-left: 18px;
                position: relative;
                padding-left: 15px;
                @include breakpoint($tablet) {
                    font-size: 13px;
                    line-height: 23px;
                    margin-left: 22px;
                    padding-left: 5px;
                }
            }
            .endereco {
                &:before {
                    content: '';
                    float: left;
                    background: url('../img/endereco-contato.png');
                    width: 14px;
                    height: 20px;
                    position: absolute;
                    left: -18px;
                    top: 3px;
                }
            }
            .numero {
                &:before {
                    content: '';
                    float: left;
                    background: url('../img/telefone-contato.png');
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    left: -20px;
                    top: 2px;
                }
            }
            .email {
                &:before {
                    content: '';
                    float: left;
                    background: url('../img/email-telefone.png');
                    width: 20px;
                    height: 16px;
                    position: absolute;
                    left: -23px;
                    top: 5px;
                }
            }
        }
        .info_form {
            @include span(5 last of 8);
            @include breakpoint($tablet) {
                @include span(8 of 8);
            }
            h2 {
                margin-bottom: 30px;
            }
            hr {}
            p {
                color: #999;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 17px;
                @include breakpoint($tablet) {
                    font-size: 13px;
                    line-height: 23px;
                }
            }
            form {
                input {
                    @include span(6 of 12);
                    height: 50px;
                    border: 1px solid #93d3bf;
                    border-radius: 5px;
                    margin-bottom: 20px;
                    padding-left: 12px;
                    color: #93d3bf;
                    font-size: 14px;
                    font-weight: 400;
                    @include breakpoint($tablet) {
                        @include span(8 of 8);
                    }
                    line-height: 50px;
                    @include input-placeholder {
                        color: #93d3bf;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
                .strNome {}
                .strEmail {
                    margin-right: 0px;
                }
                .strTel {}
                .mySelectBoxClass {
                    @include span(6 last of 12);
                    margin-right: 0px;
                    border: 1px solid #93d3bf;
                    border-radius: 5px;
                    height: 50px;
                    color: #93d3bf;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    @include breakpoint($tablet) {
                        @include span(8 of 8);
                    }
                    option {}
                }
                textarea {
                    height: 150px;
                    border: 1px solid #93d3bf;
                    border-radius: 5px;
                    padding-left: 10px;
                    padding-top: 10px;
                    color: #93d3bf;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    @include input-placeholder {
                        color: #93d3bf;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                    }
                }
                p {
                    color: #93d3bf;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    float: left;
                    @include breakpoint($tablet) {
                        @include span(8 of 8);
                        text-align: center;
                    }
                }
                .botao_enviar {
                    @include span(6 last of 12);
                    height: 50px;
                    border: none;
                    background: none;
                    border-radius: 5px;
                    color: white;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 24px;
                    position: relative;
                    margin-bottom: 100px;
                    @include breakpoint($tablet) {
                        @include span(8 of 8);
                        margin-bottom: 75px;
                    }
                    &:hover {
                        color: #93d3bf;
                    }
                }
                .clearfix {}
            }
        }
    }
    .info_contato {
        h2 {}
        hr {}
        .endereco {}
        .numero {}
        .email {}
    }
    .info_form {
        h2 {}
        hr {}
        p {}
        form {
            input {}
            .strNome {}
            .strEmail {}
            .strTel {}
            .mySelectBoxClass {
                option {}
            }
            textarea {}
            p {}
            .botao_enviar {}
            .clearfix {}
        }
    }
}
